.bgsignup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../asset/images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginBox{
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(255 255 255 / 30%);
  input{
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    outline: none;
  }
  .btnSignup{
    background-color: rgb(100, 13, 222);
    border-radius: 25px;
    border: none;
    padding: 18px 38px;
    color: #fff;
    font-size: 16px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      background-color: rgb(64, 3, 150);
    }
  }
}
// 
.bgProfile{
  &::before{
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}
.profileBtn{
  background-color: transparent !important;
  padding: 0px !important;
  .button{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}
.bgProfile {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../asset/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .profileBox {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .profileMainBox {
      width: 600px;
      margin: auto;
      padding: 20px;
      background-color: rgb(226 225 225);
      height: 300px;
      border-radius: 10px;
    }
  }
}
.nameBox {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  .profileImg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgb(136, 135, 135);
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  ul{
    padding: 0px;
    margin-bottom: 0px;
    li{
      list-style: none;
      font-size: 20px;
    }
  }
}
.buyerOrder {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../asset/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .order-list {
    list-style-type: square;
    font-size: 18px;
    cursor: pointer;
  }
}